@charset "UTF-8";

$CBlack: #000000;

$CGray: #333;
$CGray2: #a3a3a3;
$CGray3: #ddd;
$CGray4: #f9f9f9;
$CGray5: #999;
$CGray6: #eff0f1;
$CGray7: #f0f1f2;

$CPoint: #B53939;
$CPoint2: #f1bfc0;
$CPoint3: #1A1A40;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 961px;
$breakpoint-desktop: 1400px;

//fonts
$fontK: -apple-system, '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
$fontE: "CormorantUnicase", sans-serif;
$fontA: "AnsteryScript", sans-serif;